<html>
  <head>
    <title>Demo socket IO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="client.js"></script>
    <link href="client.css" rel="stylesheet" type="text/css" />
  </head>
  <body id="backgroundColor">
    <div id="redBackground"></div>
    <div id="blueBackground"></div>
    <div id="yellowBackground"></div>
    <h2 id="dataReceived"></h2>
  </body>
</html>
