#redBackground, #blueBackground, #yellowBackground {
    width: 300px;
    height: 70px;
}

#redBackground {
    background-color: red;
}

#blueBackground {
    background-color: blue;
}

#yellowBackground {
    background-color: yellow;
}